@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext');
body, h1{font-family: 'Roboto', sans-serif;}
.caption {
    background: linear-gradient(0deg,rgb(255, 255, 255) 0,transparent 100%);
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    cursor: pointer;
    z-index: 1;
}
.caption:hover {
    background: linear-gradient(0deg,rgb(255, 255, 255) 0,transparent 50%);
}
.ui.card, .ui.cards > .card.widget {
    box-shadow: none;
    border: #d4d4d5 1px solid;
}
.ui.card, .ui.cards > .card.widget:hover {
    background-color: rgba(0, 0, 0, 0.02);
}